<!DOCTYPE html>
<html lang="en">
<title>Angular Testing</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>

</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>M. Raman Developer</b></h3>
  </div>
  <div class="w3-bar-block">
    <a routerLink="" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a routerLink="showcase" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Showcase</a> 
    <a routerLink="services" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Services</a> 
    <a routerLink="team" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Designers</a> 
    <a routerLink="pricing" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Packages</a> 
    <a routerLink="contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Company Name</span>
</header>



<!-- W3.CSS Container -->


<script>
// Script to open and close sidebar

</script>

</body>
</html>

<!-- Toolbar -->




<router-outlet></router-outlet>


<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="#" title="Raman" target="_blank" class="w3-hover-opacity">Raman</a></p></div>
